.header-container {
    width: 100%;
    position: relative;
    height: 40vh;
}

.header-layout-transparent {
    background: url('./../../../assets/desk-image-cleaned.svg') center / cover;
    color: white;
}