.header-container {
    width: 100%;
    position: relative;
    height: 40vh;
}

.header-layout-transparent {
    background: url('./../../../assets/Peaberry_coffee_beans,_close_up-opt.jpg') center / cover;
    color: white;
}